body {
    height: 100vh;
    background-color: #ccc;
}

.main {
    height: ;
}

.single-box {

    border: 1px solid black;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px outset #bbb;
    background-color: #fff;

}


.square-container {
    padding: 30px;

    height: calc(100vh - 112px);
    display: flex;
    flex-wrap: wrap;
}

.open-cell {
    background-color: #ccc;
}